@model Intillegio.DTOs.BindingModels.EventBindingModel
@{
    ViewData["Title"] = "EventDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="~/Views/Events/PartialViews/EventDetails/_PageTitleEventDetails.cshtml"/>
<div class="section-block-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="pr-30-md">
                    <div class="section-heading">
                        <h4>@Model.Name</h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content mt-20">
                        <p>
                            @Model.About
                        </p>
                    </div>
                    <div class="mt-20">
                        <ul class="primary-list">
                            <li><i class="fa fa-check"></i>Starting at: @Model.StartTime.ToString("HH:mm")</li>
                            <li><i class="fa fa-check"></i>On: @Model.StartDate.ToString("dd MMMM yyyy")</li>
                            <li><i class="fa fa-check"></i>Place: @Model.Place</li>
                            <li><i class="fa fa-check"></i>@Model.Town</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="video-video-box full-width mt-15-xs">
                    <img src="@Model.Image540X360" class="rounded-border shadow-primary mb-10" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Views/Events/PartialViews/EventDetails/_images.cshtml"/>