<div class="col-md-8 col-sm-8 col-12">
    <div class="team-single-text">
        <span>@Model.Position</span>
        <h4>@Model.Name</h4>
        <ul class="team-single-info">
            <li><strong>Phone</strong><span>@Model.PhoneNumber</span></li>
            <li><strong>Gmail</strong><span>@Model.Email</span></li>
        </ul>
        <div class="text-content mt-20">
            <p>
                @Model.About
            </p>
        </div>

        <ul class="team-single-social">
            <li><a href="@Model.Facebook"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="@Model.Instagram"><i class="fa fa-instagram"></i></a></li>
            <li><a href="@Model.Skype"><i class="fa fa-skype"></i></a></li>
            <li><a href="@Model.Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>