@model Intillegio.DTOs.BindingModels.Admin.AdminProductBindingModel
<div class="d-flex justify-content-around row">
    <div class="col-sm-6">
        <div class="card-body">
            <h2 class="card-title">@Model.Name</h2>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Date)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Date)</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Price)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Price)</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.StockKeepingUnit)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Model.StockKeepingUnit </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Category)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Category)</p>
            </div>
        </div>
        <hr />
    </div>
    <div class="col-sm-6 mt-5">
        <img src="@Model.Image255X325 " style="width: 100% \9;" class="img-fluid" alt="Responsive image">
    </div>
    <hr />
    <div class="col-sm-12 mt-2">
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Image540X540)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Model.Image540X540 </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Image135X135)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Image135X135)</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Image95X125)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Image95X125)</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.ProductCategory)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.ProductCategory)</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h4 class="card-title"> @Html.DisplayNameFor(model => model.Height)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Height)</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h4 class="card-title"> @Html.DisplayNameFor(model => model.Width)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Width)</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h4 class="card-title"> @Html.DisplayNameFor(model => model.Weight)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Weight)</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h4 class="card-title"> @Html.DisplayNameFor(model => model.Material)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Material)</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h4 class="card-title"> @Html.DisplayNameFor(model => model.Color)</h4>
            </div>
            <div class="col">
                <p class="card-text">@Html.DisplayFor(model => model.Color)</p>
            </div>
        </div>
        <hr />
        <div class="col">
            <h4 class="card-title">@Html.DisplayNameFor(model => model.Reviews)</h4>
        </div>
        @foreach (var review in @Model.Reviews)
        {
            <div class="col">
                <p class="card-text"><i class="fa fa-check"></i> @review.Name</p>
            </div>
        }
        <hr />
        <div class="col">
            <h4 class="card-title">@Html.DisplayNameFor(model => model.ProductImages)</h4>
        </div>
        @foreach (var ProductImage in @Model.ProductImages)
        {
            <div class="col">
                <p class="card-text"><i class="fa fa-check"></i> @ProductImage.Image135X135</p>
            </div>
        }
    </div>
    <hr />
    <div class="col-sm-12 mt-2">
        <div class="col">
            <h4 class="card-title"> @Html.DisplayNameFor(model => model.Description) of @Model.Name</h4>
        </div>
        <div class="col">
            <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
        </div>
    </div>
</div>