<section id="posts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Team Members</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var teamMember in Model)
                            {
                                <tr>
                                    <td scope="row">@teamMember.Id</td>
                                    <td>@teamMember.Name</td>
                                    <td>@teamMember.Position</td>
                                    <td>@teamMember.Email</td>
                                    <td>@teamMember.PhoneNumber</td>
                                    <td>
                                        <a asp-area="Administration" asp-controller="TeamMembers" asp-action="TeamMemberDetails" asp-route-id="@teamMember.Id" class="btn btn-secondary">
                                            <i class="fa fa-angle-double-right"></i> Details
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>