@using System.Globalization
@model List<Intillegio.Common.ViewModels.Admin.AdminEventViewModel>
<section id="posts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Events</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Place</th>
                                <th>Town</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var eventure in Model)
                            {
                            <tr>
                                <td scope="row">@eventure.Id</td>
                                <td>@eventure.Name</td>
                                <td>@eventure.StartDateTime.ToString("dd MMMM yyyy HH:mm", CultureInfo.InvariantCulture)</td>
                                <td>@eventure.Place</td>
                                <td>@eventure.Town</td>
                                <td scope="row">
                                    <a asp-area="Administration" asp-controller="EventsAdmin" asp-action="EventDetails" asp-route-id="@eventure.Id" class="btn btn-secondary">
                                        <i class="fa fa-angle-double-right"></i> Details
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>