<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="~/img/logos/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@this.ViewData["Title"] - Intillegio</title>
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/font-awesome.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/icomoon.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/swiper.min.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/slider.css" asp-append-version="true">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/animate.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/switcher.css" asp-append-version="true">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/owl.carousel.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/default.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/styles.css" id="colors" asp-append-version="true">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet" asp-append-version="true">
        <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css" asp-append-version="true">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/segment7" type="text/css" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/font-awesome.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/icomoon.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/swiper.min.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/slider.css" asp-append-version="true">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/animate.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/switcher.css" asp-append-version="true">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/owl.carousel.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/default.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/styles.css" id="colors" asp-append-version="true">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet" asp-append-version="true">
        <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css" asp-append-version="true">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/segment7" type="text/css" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <partial name="_Preloader" />
    <partial name="_TopBar" />
    <header>
        <partial name="_Navbar" />
    </header>
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        @this.RenderBody()
    </main>
    <partial name="_Footer" />
    <!-- Scroll to top button Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
    <!-- Scroll to top button End -->
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/popper.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/owl.carousel.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/navigation.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/navigation.fixed.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/wow.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.counterup.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/waypoints.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/tabs.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/moment.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/moment-timezone-with-data.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/timer.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.mb.YTPlayer.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/isotope.pkgd.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/modernizr.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/switcher.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/map.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/main.js" asp-append-version="true"></script>
        @RenderSection("GoogleMaps", required: false)
        <partial name="_ValidationScriptsPartial.cshtml" />
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/popper.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/owl.carousel.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/navigation.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/navigation.fixed.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/wow.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.counterup.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/waypoints.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/tabs.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/moment.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/moment-timezone-with-data.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/timer.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.mb.YTPlayer.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/isotope.pkgd.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/modernizr.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/switcher.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/map.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/main.js" asp-append-version="true"></script>
        @RenderSection("GoogleMaps", required: false)
        <partial name="_ValidationScriptsPartial.cshtml" />
    </environment>
    @this.RenderSection("Scripts", required: false)
</body>
</html>