@using System.Globalization
@model List<Intillegio.Common.ViewModels.Admin.AdminArticleViewModel>
<section id="posts">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Articles</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var article in Model)
                            {
                                <tr>
                                    <td scope="row">@article.Id</td>
                                    <td>@article.Name</td>
                                    <td>@article.CategoryName</td>
                                    <td>@article.Date.ToString("dd MMM yy", CultureInfo.InvariantCulture)</td>
                                    <td>
                                        <a asp-area="Administration" asp-controller="ArticlesAdmin" asp-action="ArticleDetails" asp-route-id="@article.Id" class="btn btn-secondary">
                                            <i class="fa fa-angle-double-right"></i> Details
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <partial name="~/Areas/Administration/Shared/_Users.cshtml" />
        </div>
    </div>
</section>