<!DOCTYPE html>
<html>
<head>
    <title>Under construction</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/logos/logo-shortcut.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>@this.ViewData["Title"] - Intillegio</title>
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/font-awesome.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/icomoon.css" asp-append-version="true">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/animate.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/switcher.css" asp-append-version="true">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/owl.carousel.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/default.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/styles.css" id="colors" asp-append-version="true">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet" asp-append-version="true">
        <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css" asp-append-version="true">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/segment7" type="text/css" asp-append-version="true" />

        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/font-awesome.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/icomoon.css" asp-append-version="true">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/animate.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/switcher.css" asp-append-version="true">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/owl.carousel.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/default.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/styles.css" id="colors" asp-append-version="true">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet" asp-append-version="true">
        <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css" asp-append-version="true">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/segment7" type="text/css" asp-append-version="true" />

        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    @*<!-- Preloader Start-->
        <div id="preloader">
            <div class="row loader">
                <div class="loader-icon"></div>
            </div>
        </div>
        <!-- Preloader End -->*@
    <!-- Top-Bar START -->
    <div id="top-bar" class="hidden-sm-down">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-12">
                    <div class="top-bar-welcome">
                        <ul>
                            <li>Welcome to Professional Consulting Agency</li>
                        </ul>
                    </div>
                    <div class="top-bar-info">
                        <ul>
                            <li><i class="fa fa-phone"></i>(+359)89 440 5960
                            <li>
                            <li><i class="fa fa-envelope"></i>office@intillegio.eu
                            <li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <ul class="social-icons hidden-md-down">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Top-Bar END -->
    <!-- Navbar START -->
    <header>
        <nav id="navigation4" class="container navigation">
            <div class="nav-header">
                <a class="nav-brand" href="index.html">
                    <img src="img/logos/logo.png" class="main-logo" alt="logo" id="main_logo">
                </a>
                <div class="nav-toggle"></div>
            </div>
            <div class="nav-menus-wrapper">
                <ul class="nav-menu align-to-right">
                    <li>
                        <a href="#">Home</a>
                        <div class="megamenu-panel">
                            <div class="megamenu-lists">
                                <ul class="megamenu-list list-col-4">
                                    <li class="megamenu-list-title"><a href="#">Multi Purpose 01</a></li>
                                    <li><a href="index.html">Home Page 01</a></li>
                                    <li><a href="home-2.html">Home Page 02</a></li>
                                    <li><a href="home-3.html">Home Page 03</a></li>
                                </ul>
                                <ul class="megamenu-list list-col-4">
                                    <li class="megamenu-list-title"><a href="#">Multi Purpose 02</a></li>
                                    <li><a href="home-4.html">Home Page 04</a></li>
                                    <li><a href="home-5.html">Home Page 05</a></li>
                                    <li><a href="home-6.html">Home Page 06</a></li>
                                </ul>
                                <ul class="megamenu-list list-col-4">
                                    <li class="megamenu-list-title"><a href="#">Multi Purpose 03</a></li>
                                    <li><a href="home-7.html">Home Page 07</a></li>
                                    <li><a href="home-8.html">Home Page 08</a></li>
                                    <li><a href="home-9.html">Home Page 09</a></li>
                                </ul>
                                <ul class="megamenu-list list-col-4">
                                    <li class="megamenu-list-title"><a href="#">Multi Purpose 04</a></li>
                                    <li><a href="home-10.html">Home Page 10 <span class="menu-tag">NEW</span><span class="menu-tag">HOT</span></a></li>
                                    <li><a href="home-11.html">Home Page 11 <span class="menu-tag">NEW</span></a></li>
                                    <li><a href="home-12.html">Home Page 12 <span class="menu-tag">NEW</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">About</a>
                        <ul class="nav-dropdown">
                            <li><a href="about.html">About Us 01</a></li>
                            <li><a href="about-2.html">About Us 02</a></li>
                            <li><a href="team.html">Our Team 01</a></li>
                            <li><a href="team-2.html">Our Team 02</a></li>
                            <li><a href="team-3.html">Our Team 03</a></li>
                            <li><a href="team-single.html">Team Single</a></li>
                            <li><a href="partners.html">Our Partners</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Services</a>
                        <ul class="nav-dropdown">
                            <li><a href="services.html">Services 01</a></li>
                            <li><a href="services-2.html">Services 02</a></li>
                            <li><a href="services-3.html">Services 03</a></li>
                            <li><a href="service-detail.html">Service Detail</a></li>
                            <li><a href="cases.html">Cases</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Projects</a>
                        <ul class="nav-dropdown">
                            <li><a href="projects-grid.html">Grid Style</a></li>
                            <li><a href="projects-masonry-3-column.html">Masonry Style 01</a></li>
                            <li><a href="projects-masonry-4-column.html">Masonry Style 02</a></li>
                            <li><a href="project-detail.html">Projects Detail 01</a></li>
                            <li><a href="project-detail-2.html">Projects Detail 02</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                        <ul class="nav-dropdown">
                            <li><a href="blog-grid.html">Blog Grid</a></li>
                            <li><a href="blog-grid-classic.html">Blog Grid Classic</a></li>
                            <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                            <li><a href="blog-list.html">Blog List</a></li>
                            <li><a href="blog-list-sidebar.html">Blog List Sidebar</a></li>
                            <li><a href="blog-post.html">Blog Post</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Shop</a>
                        <ul class="nav-dropdown">
                            <li><a href="shop-grid.html">Grid Style 3 Col</a></li>
                            <li><a href="shop-grid-4-col.html">Grid Style 4 Col</a></li>
                            <li><a href="shop-grid-classic.html">Classic Style 3 Col</a></li>
                            <li><a href="shop-grid-classic-4-col.html">Classic Style 4 Col</a></li>
                            <li><a href="shop-single.html">Shop Single</a></li>
                            <li><a href="shopping-cart.html">Shopping Cart</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul class="nav-dropdown">
                            <li><a href="faq.html">FAQ 01</a></li>
                            <li><a href="faq-2.html">FAQ 02</a></li>
                            <li><a href="404.html">Error 404</a></li>
                            <li><a href="under-construction.html">Under Construction</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Elements</a>
                        <ul class="nav-dropdown">
                            <li><a href="feature-boxes.html">Feature Boxes</a></li>
                            <li><a href="pricing-lists.html">Pricing Lists</a></li>
                            <li><a href="testmonials.html">Testmonials</a></li>
                            <li><a href="progress-bars.html">Progress Bars</a></li>
                            <li><a href="accordions.html">Accordions</a></li>
                            <li><a href="animated-tabs.html">Animated Tabs</a></li>
                            <li><a href="countups.html">Countups</a></li>
                            <li><a href="responsive-videos.html">Responsive Videos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                        <ul class="nav-dropdown">
                            <li><a href="contact.html">Contact Us 01</a></li>
                            <li><a href="contact-2.html">Contact Us 02</a></li>
                            <li><a href="contact-3.html">Contact Us 03</a></li>
                            <li><a href="contact-4.html">Contact Us 04</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Navbar END -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Intillegio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        @this.RenderBody()
    </main>
    <!-- Footer START -->
    <footer>
        <div class="container">
            <div class="row">
                <!-- Column 1 Start -->
                <div class="col-md-4 col-sm-6 col-12">
                    <h3>About Us</h3>
                    <div class="mt-25">
                        <p class="mt-25">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam.
                        </p>
                        <div class="footer-social-icons mt-25">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Column 1 End -->
                <!-- Column 2 Start -->
                <div class="col-md-3 col-sm-6 col-12">
                    <h3>Quick Links</h3>
                    <ul class="footer-list">
                        <li><a href="#">Strategic Consulting</a></li>
                        <li><a href="#">Sales Services</a></li>
                        <li><a href="#">Market Research</a></li>
                        <li><a href="#">Online Reputation</a></li>
                        <li><a href="#">Strategic Consulting</a></li>
                        <li><a href="#">Sales Services</a></li>
                        <li><a href="#">Market Research</a></li>
                    </ul>
                </div>
                <!-- Column 2 End -->
                <!-- Column 3 Start -->
                <div class="col-md-3 col-sm-6 col-12">
                    <h3>Recent Posts</h3>
                    <div class="mt-25">
                        <!-- Post Start -->
                        <div class="footer-recent-post clearfix">
                            <div class="footer-recent-post-thumb">
                                <img src="http://via.placeholder.com/65x65" alt="img">
                            </div>
                            <div class="footer-recent-post-content">
                                <span>February 7, 2018</span>
                                <a href="#">Advices for young designers</a>
                            </div>
                        </div>
                        <!-- Post End -->
                        <!-- Post Start -->
                        <div class="footer-recent-post clearfix">
                            <div class="footer-recent-post-thumb">
                                <img src="http://via.placeholder.com/65x65" alt="img">
                            </div>
                            <div class="footer-recent-post-content">
                                <span>February 7, 2018</span>
                                <a href="#">What Planning Process Needs?</a>
                            </div>
                        </div>
                        <!-- Post End -->
                        <!-- Post Start -->
                        <div class="footer-recent-post clearfix">
                            <div class="footer-recent-post-thumb">
                                <img src="http://via.placeholder.com/65x65" alt="img">
                            </div>
                            <div class="footer-recent-post-content">
                                <span>February 7, 2018</span>
                                <a href="#">Lorem ipsum dolor sit amet.</a>
                            </div>
                        </div>
                        <!-- Post End -->
                    </div>
                </div>
                <!-- Column 3 End -->
                <!-- Column 4 Start -->
                <div class="col-md-2 col-sm-6 col-12">
                    <h3>Tags</h3>
                    <div class="footer-tags mt-25">
                        <a href="#">Business</a>
                        <a href="#">Conusltant</a>
                        <a href="#">Coach</a>
                        <a href="#">UX</a>
                        <a href="#">API</a>
                        <a href="#">Reputation</a>
                        <a href="#">Research</a>
                        <a href="#">Sale</a>
                        <a href="#">Service</a>
                        <a href="#">UI</a>
                        <a href="#">Web</a>
                        <a href="#">WebDesign</a>
                    </div>
                </div>
                <!-- Column 4 End -->
            </div>

            <div class="footer-bar">
                <p><span class="primary-color">Intillegio</span> &copy; @DateTime.Now.Year.  All Rights Reserved.</p>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; @DateTime.Now.Year - Intillegio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/owl.carousel.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/navigation.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/navigation.fixed.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/wow.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.counterup.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/waypoints.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/tabs.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/moment.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/moment-timezone-with-data.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/timer.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.mb.YTPlayer.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/isotope.pkgd.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/modernizr.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/switcher.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/map.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/main.js" asp-append-version="true"></script>
    



    
    
    
    

    @*<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@

</environment>
<environment names="Staging,Production">
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/owl.carousel.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/navigation.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/navigation.fixed.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/wow.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.counterup.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/waypoints.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/tabs.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/moment.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/moment-timezone-with-data.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/timer.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.mb.YTPlayer.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/isotope.pkgd.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/modernizr.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/switcher.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/map.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/main.js" asp-append-version="true"></script>




    @*<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>*@
</environment>
    @this.RenderSection("Scripts", required: false)
</body>
</html>
