@model List<Intillegio.Common.ViewModels.ArticleViewModel>
<div class="col-md-9 col-sm-8 col-12 pr-30-md">
    <div class="row">
        @foreach (var article in Model)
        {
            if (article.Content.Length > 100)
            {
                article.Content = article.Content.Substring(0, 132) + "...";
            }
            if (article.Name.Length > 33)
            {
                article.Name = article.Name.Substring(0, 32) + "...";
            }
            <div class="col-md-6 col-sm-12 col-12">
                <div class="blog-grid">
                    <div class="blog-grid-img">
                        <img src="@article.Image390X245" alt="img">
                        <div class="data-box-grid">
                            <h4>@article.Date.Day.ToString("D2")</h4>
                            <p>@article.Date.ToString("MMM")</p>
                        </div>
                    </div>
                    <div class="blog-grid-text">
                        <span>@article.CategoryName</span>
                        <h4>@article.Name</h4>
                        <ul>
                            <li><i class="fa fa-calendar"></i>@article.Date.ToString("MMMM dd, yyyy")</li>
                            <li><i class="fa fa-list-ul"></i>@article.CategoryName</li>
                        </ul>
                        <p>@article.Content</p>
                        <div class="mt-20 left-holder">
                            <a asp-area="" asp-controller="Blog" asp-action="ArticleDetails" asp-route-id="@article.Id" class="primary-button button-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>