@model Intillegio.Common.ViewModels.AboutUsViewModel
<div class="section-block-bg" style="background-image:url('@Url.Content("~/img/biznesmen.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-12 offset-md-5">
                <div class="section-heading">
                    <span>Improve your business with us !</span>
                    <h4>First class business solutions since 2015</h4>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-10">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
                <div class="row">
                    @foreach (var solution in Model.Solutions.Take(4))
                    {
                        if (solution.About.Length > 80)
                        {
                            solution.About = solution.About.Substring(0, 78) + "...";
                        }
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="feature-flex-square">
                                <div class="clearfix">
                                    <div class="feature-flex-square-icon">
                                        @{ ++Model.Icons;}
                                        <i class="icon-@Model.Icons.ToString()"></i>
                                    </div>
                                    <div class="feature-flex-square-content">
                                        <h4><a asp-area="" asp-controller="Solutions" asp-action="SolutionDetails" asp-route-id="@solution.Id">@solution.Name</a></h4>
                                        <p>@solution.About</p>
                                        <a asp-area="" asp-controller="Solutions" asp-action="SolutionDetails" asp-route-id="@solution.Id" class="feature-flex-square-content-button">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>